## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/[Pp]ackages/*
*.nupkg
.nuget/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Misc
nul
*.tmp
